APP_NAME="AssetMonitoringSystem Assignment Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080/api/v1/assignments

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=assignment-db
DB_PORT=5432
DB_DATABASE=assignment_db
DB_USERNAME=asset_monitoring_system
DB_PASSWORD=asset_monitoring_system

CACHE_STORE=file
QUEUE_CONNECTION=sync

INVENTORY_SERVICE_BASE_URL=http://inventory-service:8000
CIRCUIT_BREAKER_FAILURE_THRESHOLD=3
CIRCUIT_BREAKER_OPEN_SECONDS=30
CIRCUIT_BREAKER_TIMEOUT_SECONDS=2

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=asset_monitoring_system
RABBITMQ_PASSWORD=asset_monitoring_system
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=asset_monitoring_system.events
RABBITMQ_QUEUE_PREFIX=assignment
